<h1> Tutors </h1>
    <div id="info-spot"></div>
  <button id="tutor-list"> Tutor List </button>
  <button id="tutor-requests"> Tutor Requests </button>
  <button id="new-tutor"> Add a New Tutor </button>
    <div id="list"></div>
    <div id="all-tutors"></div>
    <div id="new-tutor-form"></div>
    </br>
    </br>

<%= link_to "Seach Tutors by Gender", search_page_path %>
</br>
</br>
<%= link_to "View Subjects", root_url %>
