<h1> Tutors </h1>
<p> Click on a name to view that tutor's profile. </p>
<% if current_user.admin %>
  <%= render partial: 'admin', locals: {tutors: @tutors} %>
<% else %>
<ul>
  <% @tutors.each do |tutor| %>
    <li><%= link_to "#{tutor.name}", tutor_path(tutor.id) %></li>
  <% end %>
</ul>
<% end %>
<%= link_to "View Subjects", root_url %>
