<h1> Requested Subjects and Tutors: </h1>

<ul>
  <% @subjects.each do |subject| %>
    <li> <%= "#{subject.name} - #{subject.tutor.name}" %> </li>
      <%= link_to "Cancel Request", user_subject_path(@user_id, subject.id), method: :delete %>
    <% end %>
</ul>

<%= link_to "View Tutors", tutors_path %>
<%= link_to "Back to Subjects", root_url %>
