<h1> Requested Subjects and Tutors: </h1>

<ul>
  <% @subjects.each do |subject| %>
    <li> <%= "#{subject.name} - #{subject.tutor.name}" %> </li>
  <% end %>
</ul>

<%= link_to "View Tutors", tutors_path %>
