<h1> Welcome to the Tutoring App! </h1>
<h3> A place where you can find tutoring help for your student in a variety of school subjects. </h3>

<% if user_signed_in? %>
<h3> Hello, <%= current_user.first_name %>! What would you like to do? </h3>
  <%= link_to "View Subjects", subjects_path %>
  <%= link_to "View Tutors", tutors_path %>
<% end %>
<% if user_signed_in? %>
<% if current_user.admin %>
  <%= link_to "View Current Users", users_path %>
<% end %>
<% end %>
